.input,
.select,
.textarea,
.checkbox {
    border-radius: 0;
}

.input::-moz-placeholder,
.textarea::-moz-placeholder {
    opacity: 1;
}

.radio:not(:disabled),
.checkbox:not(:disabled) {
    cursor: pointer;
}

.input,
.select,
.textarea {
    font-size: 14px;

    width: 100%;
    max-width: 100%;
    padding-right: 8px;
    padding-left: 8px;

    transition: .2s ease-in-out;
    transition-property: color, background-color, border-color;

    color: $form-body-color;
    border: 1px solid $form-border-color;
    background: #fff;
}

.input,
.select:not([multiple]):not([size]) {
    display: inline-block;

    height: $line-height-default;

    vertical-align: middle;
}

.input:not(input),
.select:not(select) {
    line-height: ($line-height-default - 2);
}

.select[multiple],
.select[size],
.textarea {
    padding-top: 8px;
    padding-bottom: 8px;

    vertical-align: top;
}

.textarea {
    min-height: 125px;
}

.input:focus,
.select:focus,
.textarea:focus {
    color: $form-body-color;
    border-color: $border-primary;
    outline: none;
    background-color: #fff;
}

.input:disabled,
.select:disabled,
.textarea:disabled {
    color: $text-default;
    border-color: $border-default;
    background-color: $bg-dark;
}

.input:-ms-input-placeholder {
    color: $text-light !important;
}

.input::placeholder {
    color: $text-light;
}

.textarea:-ms-input-placeholder {
    color: $text-light !important;
}

.textarea::placeholder {
    color: $text-light;
}

.form-small:not(textarea):not([multiple]):not([size]) {
    height: $line-height-small;
}

.form-small:not(select):not(input):not(textarea) {
    line-height: ($line-height-small - 2);
}

.form-large:not(textarea):not([multiple]):not([size]) {
    height: $line-height-large;
}

.form-large:not(select):not(input):not(textarea) {
    line-height: ($line-height-large - 2);
}

.form-primary,
.form-primary:focus {
    color: $text-primary;
    border-color: $border-primary;
}

.form-success,
.form-success:focus {
    color: $text-success;
    border-color: $border-success;
}

.form-warning,
.form-warning:focus {
    color: $text-warning;
    border-color: $border-warning;
}

.form-danger,
.form-danger:focus {
    color: $text-danger;
    border-color: $border-danger;
}

.select:not([multiple]):not([size]) {
    padding-right: 20px;

    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A');
    background-repeat: no-repeat;
    background-position: 100% 50%;

    -webkit-appearance: none;
       -moz-appearance: none;
}

.select:not([multiple]):not([size])::-ms-expand {
    display: none;
}

.select:not([multiple]):not([size]) option {
    color: $form-body-color;
}

.select:not([multiple]):not([size]):disabled {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%209%206%2015%206%22%3E%3C%2Fpolygon%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%2013%209%208%2015%208%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E%0A');
}

.radio,
.checkbox {
    display: inline-block;
    overflow: hidden;

    width: 16px;
    height: 16px;
    margin-top: -4px;

    transition: .2s ease-in-out;
    transition-property: background-color, border-color;
    vertical-align: middle;

    border: 1px solid $border-default;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    -webkit-appearance: none;
}

.radio {
    border-radius: 50%;
}

.radio:focus,
.checkbox:focus {
    border-color: $border-primary;
    outline: none;
}

.radio:checked,
.checkbox:checked,
.checkbox:indeterminate {
    border-color: transparent;
    background-color: $bg-primary;
}

.radio:checked:focus,
.checkbox:checked:focus,
.checkbox:indeterminate:focus {
    background-color: $bg-primary;
}

.radio:checked {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23fff%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%3E%3C%2Fcircle%3E%0A%3C%2Fsvg%3E');
}

.checkbox:checked {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23fff%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E');
}

.checkbox:indeterminate {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23fff%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%3E%3C%2Frect%3E%0A%3C%2Fsvg%3E');
}

.radio:disabled,
.checkbox:disabled {
    border-color: $border-default;
    background-color: $bg-dark;
}

.radio:disabled:checked {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23999%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%3E%3C%2Fcircle%3E%0A%3C%2Fsvg%3E');
}

.checkbox:disabled:checked {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23999%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%2F%3E%0A%3C%2Fsvg%3E');
}

.checkbox:disabled:indeterminate {
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23999%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%3E%3C%2Frect%3E%0A%3C%2Fsvg%3E');
}

.form-custom {
    position: relative;

    display: inline-block;

    max-width: 100%;

    vertical-align: middle;
}

.form-custom select,
.form-custom input[type='file'] {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;

    opacity: 0;

    -webkit-appearance: none;
}

.form-custom input[type='file'] {
    font-size: 500px;

    overflow: hidden;
}

.form-inline {
    position: relative;
}

.form-icon {
    line-height: ($line-height-default - 2);

    position: absolute;
    top: 1px;
    left: 1px;

    width: 36px;

    text-align: center;

    color: $text-default;
    border-right: 1px solid $form-border-color;
    border-left-width: 0;
    background-color: $bg-default;
}

.form-small.form-icon {
    line-height: ($line-height-small - 2);
}

.form-large.form-icon {
    line-height: ($line-height-large - 2);
}

.form-icon:not(.form-icon-flip) ~ .input {
    padding-left: 44px !important;
}

.form-icon-flip {
    right: 1px;
    left: auto;

    border-right-width: 0;
    border-left: 1px solid $form-border-color;
}

.form-icon-flip ~ .input {
    padding-right: 44px !important;
}
